body {
    margin: 0;
    padding: 0;
    background-color: #EB5E28;
    color: #252422;
}
/* font-family: 'EB Garamond', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Plus Jakarta Sans', sans-serif; */
h6 {
    font-weight: 300;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    line-height: 2rem;
}

.header {
    font-family: 'EB Garamond', serif;
    font-weight: 800;
    font-style: italic;
    text-transform: lowercase;
    text-align: center;
    font-size: 2rem;
    color: #FFFCF2;
    margin: 1rem auto 5rem auto;
}
#logo {
    margin-bottom: 10px;
}
p {
    font-weight: 400;
    font-size: 1.3rem;
}
hr {
    border: none;
    height: 4px;
    background-color: #252422;
    margin: 3rem auto 3rem auto;

}
.container {
    margin-bottom: 2rem;
    /* background-color: aqua; */
}
.text {
    font-family: 'Montserrat', sans-serif;
    color: #252422;
    text-transform: uppercase;
    font-size: 4rem;
    margin-top: 0;
    margin-bottom: 5rem;
    margin-left: 4rem;
    text-decoration: none;
}
.footer {
    margin-top: 8rem;
    margin-left: 4rem;
    margin-bottom: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 300;
    color: #CCC5B9;
    font-size: 1rem;
}
.line-up {
    display: flex;
    margin: 0;
    padding: 0;
    height: 2rem;
    align-items: center;
}
#footer-logo {
    margin-right: 4rem;
}
.bold {
    font-weight: 800;
}
#link{
    align-items: center;
    margin-top: 0.1rem;
    text-decoration: none;
    font-size: 11px;
    font-weight: 400;
    color: #CCC5B9;
}

.text:hover {
    color: #CCC5B9;
}
#link:hover {
    color: #252422;
}
.leap-head {
    margin-bottom: 0;
}
.container-leap {
    margin-top: 0;
    margin-bottom: 0;
}
.para{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
#p-leap{
    text-align: center;
    width: 50%;
    line-height: 2rem;
}
.text-leap {
    margin-left: 4rem;
}
#input-year {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    margin-left: 4rem;
    align-items: center;
    justify-content: center;
}
#input-box {
    height: 3rem;
    width: 20rem;
    margin: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
    border: 3px solid #252422;
    background-color: transparent;
}
#check-btn {
    height: 3rem;
    width: 10rem;
    font-weight: 800;
    font-size: 1.5rem;
    border: none;
    background-color: #252422;
    color: #CCC5B9;
}
#check-btn:hover{
    background-color: #CCC5B9;
    color: #252422;
}
#last-hr{
    margin-bottom: 1rem;
}
.result-text {
    height: 9rem;
}
#result {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-transform: uppercase;  
    font-size: 7rem;
    margin-top: 0px;
    margin-bottom: 1rem;
}
.leap-footer {
    margin-top: 2rem;
}
.leap-line{
    margin-bottom: 0;
    height: 1rem;
    /* background-color: aqua; */
}
#link-footer {
    align-items: center;
    margin-top: 0rem;
    text-decoration: none;
    font-size: 11px;
    font-weight: 400;
    color: #CCC5B9;
}
#link-footer:hover {
    color: #252422;
}
.roll-dice {
    display: flex;
    margin-top: 200px;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}
.roll-cont{
    display: flex;
    align-items: center;
    justify-content: center;
}
#roll {
    font-family: 'Montserrat', sans-serif;
    font-size: 7rem;
    color: #CCC5B9;
    width: 300px;
    height: 150px;
    background-color: #252422;
    border: none;
    margin-top: 12rem;
}
#roll:hover {
    background-color: #CCC5B9;
    color: #252422;
}
.dice-footer {
    margin-top: 5rem;
}
#link-dice{
    align-items: center;
    margin-top: 0rem;
    text-decoration: none;
    font-size: 11px;
    font-weight: 400;
    color: #CCC5B9;
}
#link-dice:hover{
    color: #252422;
}
.visibility {
    visibility: hidden;
}
.dice-container {
    position: relative;
    margin-top: 0;
}
.dice-img {
    position: absolute;
    align-items: center;
    /* margin-left: 42.5%; */
    top: 0px;
    left: 42%;
    margin-top: 1rem;
    height: 300px;
}
.show-dice {
    visibility: visible;
}
.dice-main {
    margin-bottom: 0;
}